<h1>Dynamic icon</h1>
<app-icon-view 
  name="user1.svg"
  width="54px"
  height="54px"
  color="#539E43"
/>

<app-icon-view 
  name="user.svg"
  width="54px"
  height="54px"
  color="#539E43"
/>

<app-icon-view 
  name="locked.svg"
  width="54px"
  height="54px"
  color="#FFFFFF"
  strokeColor="#539E43"
/>

<app-icon-view 
  name="user.svg"
  width="54px"
  height="54px"
  color="blue"
/>

<app-icon-view 
  name="usuario1.png"
  width="54px"
  height="54px"
  color="#539E43"
/>

<h1 style="margin: 46px 0px;">
  Directive image broken
</h1>
<img src="assets/image/usuario2.png" width="54px" alt="usuario2" appImgBroken>
<img src="assets/image/usuario.png" width="54px" alt="usuario" appImgBroken>
